.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    margin: 50px;
    padding: 5px 10px;
    font-family: 'Goldman', cursive;
    outline: none;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: #5a6262;
    color: ghostwhite;
  }

  .level {
    font-size: 2rem;
    margin: 50px;
  }

  .game {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
  'field1 field2'
  'field3 field4';
    position: relative;
    margin: 25px;

    .title {
      position: absolute;
      left: 33%;
      top: 33%;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 1.5rem;

      @media (max-width: 480px) {
        left: 31%;
        top: 31%;
        height: 130px;
        width: 130px;
      }

      @media (max-width: 350px){
        left: 32%;
        top: 32%;
        height: 110px;
        width: 110px;
      }
    }


    .field {
      height: 200px;
      width: 200px;
      margin: 5px;
      border: 6px solid #5a6262;

      @media (max-width: 480px){
        height: 150px;
        width: 150px;
      }

      @media (max-width: 350px){
        height: 130px;
        width: 130px;
      }

      &#yellow {
        grid-area: field1;
        border-top-left-radius: 100%;
      }

      &#blue {
        grid-area: field2;
        border-top-right-radius: 100%;
      }

      &#green {
        grid-area: field3;
        border-bottom-left-radius: 100%;
      }

      &#red {
        grid-area: field4;
        border-bottom-right-radius: 100%;
      }

      &.glowRed {
        background-color: #fd0000 !important;
        box-shadow: 0 0 25px #fd0000;
      }

      &.glowGreen {
        background-color: #69fc01 !important;
        box-shadow: 0 0 25px #69fc01;
      }

      &.glowBlue {
        background-color: #005dfd !important;
        box-shadow: 0 0 25px #005dfd;
      }

      &.glowYellow {
        background-color: #fcf801 !important;
        box-shadow: 0 0 25px #fcf801;
      }
    }
  }
}
